.git
.gitmodules
.nuxt
.output
.nitro
.cache
.data
.data-e2e
.e2e-runtime
dist
node_modules
test-results
logs
*.log
.DS_Store
.env
.env.*
!.env.example
third_party
tests
playwright.config.ts
README.md

